{% load static %}

<!DOCTYPE html>
<head>
  <title>intense placement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/aboutStyle.css' %}">
  <link rel="stylesheet" href="{% static 'styles/bootstrap-4.5.0/css/bootstrap.css' %}">
  <link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/solid.css' %}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</head>
<body>
<section id="header">
  <div class="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/ipLogo.png' %}">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item ">
          <a class="nav-link " href="{% url 'main:homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/contact/">Contact Us</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.is_candidate %}
            <li class="nav-item">
              <a class="nav-link  " href="/jobs/">Jobs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
              <div class="dropdown-menu menu-bar" aria-labelledby="navbarDropdown">
              <a class="dropdown-item nav-link" href="{% url 'account:candidate_dash' %}" id = "candidate_dashboard"  href="#">Profile</a>
              <a class="dropdown-item nav-link" href="{% url 'account:logout' %}" id = "logoutButton" href="#">Logout</a>
            </div>
          </li>
          {% elif user.is_partner %}
            <li class="nav-item">
              <a class="nav-link  " href="/patcomm/">Partner's Zone</a>
            </li>
          <li>
            <li class="nav-item">
              <a class="nav-link  " href="/patcomm/">Partner's Zone</a>
            </li>
            <li  class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu menu-bar" aria-labelledby="navbarDropdown" >
              <a class="dropdown-item nav-link" href="{% url 'account:partner_dash' %}" id = "candidate_dashboard" >Profile</a>
              <a class="dropdown-item nav-link" href="{% url 'account:logout' %}" id = "logoutButton" >Logout</a>
            </div>
            </li>
          </li>
          {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link " href="/employer/">Employer's Zone</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link  " href="{% url 'account:partnerReg' %}">Partner's Zone</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login/SignUp
          </a>
          <div class="dropdown-menu menu-bar" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-link"  id = "login_Button"  href="{% url 'account:login' %}">For Candidate</a>
            <a class="dropdown-item nav-link"   id = "login_Button" href="{% url 'account:loginp' %}">For Partner</a>
          </div>
          </li>
        {% endif %}
      </ul>
        </div>
      </nav>
  </div> 

<div class="banner text-center">
    <h1>Welcome to Intense Placement Pvt. Ltd.</h1>
    <h3>Sourcing & Placing Top Talent</h3>
    <h5>A leading placement consultant providing recruitment and man power assistance to clients across segments. Endowed by the experience of our team, we are a leader in international recruitment services, multinational recruiting and career placements.
    </h5>
    <button type="button" class="btn btn-primary "> Join us</button>

    
</div>
</section>

<section class="sec1">
    <h1 class="text-center"><b>Why Choose Us</b></h1>
    <div class="card-deck">
        <div class="card  shadow p-3 mb-5 rounded">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-cogs"></i> Technical Skills</h5>
            <p class="card-text">Our bespoke recruiting solutions use the right mix of technology and human intelligence to help you attract and hire candidates who contribute to both your business goals and culture</p>
          </div>
        </div>
        <div class="card  shadow p-3 mb-5 rounded">
         <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-user-tie"></i> Professional Services</h5>
            <p class="card-text">We believe in people. We believe in harnessing the human potential to build stellar careers.One of the largest recruitment agencies in the world, we help nurture the ambitions of millions across the world</p>
          </div>
        </div>
        <div class="card  shadow p-3 mb-5 rounded">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-phone"></i> Great Support</h5>
            <p class="card-text">We offer temporary and permanent workforce solutions to a large client base spread across industries. Choose us for exceptional consultancy services designed for business growth and operational excellence.</p>
          </div>
        </div>
      </div>
</section>
<section class="sec2">
    <h2 class="text-center"><b>What We Do</b></h2>
    
		
	<div class="card-deck">
		<div class="card shadow p-3 mb-5" style="height:14rem;">
			<i class=" card-img-top fas fa-list-alt fa-5x"></i>
		  <div class="card-body">
			<h5 class="card-title text-center ">We offer a premium selection of jobs across sectors and levels</h5>
		  </div>
		</div>
		<div class="card shadow p-3 mb-5" style="height:14rem;">
			<i class=" card-img-top fas fa-search fa-5x"></i>
		  <div class="card-body">
			<h5 class="card-title text-center ">We help you to find your dream assignment today</h5>
		  </div>
		</div>
		<div class="card shadow p-3 mb-5" style="height:14rem;">
			<i class=" card-img-top fas fa-trophy fa-5x"></i>
		  <div class="card-body">
			<h5 class="card-title text-center">We build assets that help organizations scale new heights</h5>
		  </div>
		</div>
      </div>	
      
	
</section>

<section class="sec3">
  <h2 class="text-center"><b>Our Industries of Expertise</b></h2>
    <h5 class="text-center">Excellence and Success</h5>

    <div class="card-deck">
		<div class="card shadow p-3 mb-5 ">
      <i class="fas fa-tasks fa-5x"></i>
      		  <div class="card-body">
			<h5 class="card-title">Recruitment Process Outsourcing</h5>
			<p class="card-text">We act as an extended arm of our clients and help manage their end to end recruitment needs</p>
		</div>
		</div>
		<div class="card shadow p-3 mb-5">
		  <i class="fas fa-arrow-alt-circle-up fa-5x"></i>
		  <div class="card-body">
			<h5 class="card-title">Career Transition Services</h5>
			<p class="card-text">Comprehensive outplacement services based on unique needs of client</p>
		  </div>
		</div>
		<div class="card shadow p-3 mb-5">
      <i class="fas fa-stamp fa-5x"></i>		  
      <div class="card-body">
			<h5 class="card-title">Executive Search</h5>
			<p class="card-text">Exclusive and retained our Executive Search Practice is focused on Board and CXO level leadership Hiring</p>
		  </div>
		</div>
	  </div>
</section>
<footer class="page-footer font-small pt-4 pl-md-5">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-4 text-left" >
          <h5 class="text-uppercase" id="desc">Intense Placement</h5>
          <p id = "desc">Our Comapny provides you hastle free recruiting and save candidates from being cheated .Our main motto is to save each and every candidate from being cheated by fraud consultants or recruiters who asks money before getting the job. </p>
        </div>
        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
        <div class="col-md-4 d-none d-lg-block d-xl-block text-center" >
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'main:homepage' %}">Home</a>
            </li>
            <li>
              <a href="/contact/">Contact us</a>
            </li>
            <li>
              <a href="/about/">About us</a>
            </li>
            <li>
              <a href="/faq/">FAQs</a>
            </li>
            
          </ul>
        </div> 
        <div class="col-3 col-md-4 pl-md-4 d-none d-lg-block d-xl-block text-left">
          <h5 class="text-uppercase">Intense Placement </h5>
         <!--  <p>Subscribe to kormosala Pacific newsletter to get thelatest jobs posted, candidates, and other latestnews stay update.</p>
          <form id = "subs">
            <div class="field">
                <div class="input-group">
                    <input type="email" name="EMAIL" class="form-control" placeholder="Email Address...">
                    <span class="input-group-btn">
                        <button class="btn btn-submit" type= "submit">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </span>
                </div>
            </div>
          </form> -->
          <p id = "desc">Our Comapny is creating Entrepreneurs.Because of our portal we are connecting many of the Genuine Consultants , Recruiters or Freelancers to Big MNC's which previously they don't get empanel with,because of their major compliance issue . </p>
        </div>
      </div>
    </div>
    <div class="container " style="height: 100px;">
        <div class="row">
            <div class="col-md-12 py-3">
            <h5 class= "pb-2 text-center">Follow Us</h5>
            <div class="mb-2 text-center">
              <a href = "https://www.facebook.com/Intense-Placement-Private-Limited-102928834808269/" class="fb-ic" style="color: rgb(255, 255, 255);">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "#" class="tw-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "https://www.linkedin.com/company/intense-placement-private-limited" class="li-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "https://www.instagram.com/invites/contact/?i=zmndwoirzzee&utm_content=hftfvyr" class="ins-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2">
      <h6> <a href="mailto:devvarrior@gmail.com" class="text-white" style="float: left;"><i class="fas fa-code"></i> Website credits : Devvarrior <i class="fas fa-code"></i></a> <p style="float: right;">© 2020 Copyright:Intense Placement</p></h6>
      <br>
    </div>
</footer>
</body>
</html>
