{% load static %}

<!DOCTYPE html>
<head>
    <title>intense placement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/partComStyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/bootstrap-4.5.0/css/bootstrap.css' %}">
<link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/fontawesome.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/brands.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome-free-5.13.0-web/css/solid.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="{% static 'styles/bootstrap-4.5.0/js/bootstrap.min.js' %}" ></script>
</head>
<body>
    <section id="header">
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">
                  <img src="{% static 'img/ipLogo.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" >
                      <li class="nav-item">
                        <a class="nav-link " href="{% url 'account:partner_dash' %}">{{user.username}}</a>
                      </li>
                      <li class="nav-item">
                      <a class="nav-link " href="{% url 'account:logout' %}">logout</a>
                      </li>
                    </ul>
                </div>
              </nav>
        </div>

    </section>
    <section>
        <div class="search-job text-center">
		{% if messages%}
              {% for m in messages %}
                 <h1 class="text-white"> {{m}}</h1>
              {% endfor %}
            {% else %}
              <div>
            <div>
                <h1 class="text-center text-white">Find the best job near you</h1>
                <h4 class="text-center text-white"><span style="color:rgb(246, 250, 3)">1,00,000</span> active job vacancies to grab. </h4>
            </div>
            <form action="/patcomm/" method="get" id ="findform">
            <div class="form-group">
            <select class="form-control" id="sel1" name="role">
                <option disabled selected>Job Role</option>
             	{% for comm in jobArr1 %}
                <option>{{comm.job_title}}</option>
                {% endfor %}
            </select>
            <select class="form-control" id="sel1" name="city">
                <option disabled selected>City</option>
                {% for comm in jobArr2 %}
                <option>{{comm.city}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary " onclick="submitForm()"> Search</button>
          </form>
            </div>
	{% endif %}
            </div>
    
    </section>

    {% for comm in jjob %}

    <div class="card-group mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job Name</h5>
            <p class="card-text">
                <b>{{comm.job_title}}</b>
				<p class="text-muted">{{comm.company_title}}</p>
				<i class="fa fa-map-marker" aria-hidden="true"></i><span class="text-muted">{{comm.job_loc}} </span><br>
            </p>
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Details</h5>
            <p class="card-text">
                <b><i class="fas fa-rupee-sign"></i><span> {{comm.job_sal}}</span><br></b>
				<i class="fa fa-briefcase" aria-hidden="true"></i><span class="text-muted"><b>Experience : </b> {{comm.job_exp}}</span><br>
				<span class="text-muted"><b>Skills </b> <i class="fa fa-angle-double-right"></i>{{comm.job_des}}</span><br>
				<span class="text-muted"><b>Age : </b>{{comm.age}}</span><br>
				<span class="text-muted"><b>Gender : </b>{{comm.gender}}</span>
            </p>
            
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Payout</h5>
            <p class="card-text"><b><i class="fas fa-rupee-sign"></i><span>Commision : {{comm.pat_com}}</span><br></b>
                <span class="text-muted"><b>Paid on : </b>{{comm.time}}</span><br>
                <span class="text-muted" ><b>Guarantee Period : </b>{{comm.g_period}}</span><br>
                <a href="{% url 'main:applyp' comm.id %}" class="text-primary" ><b>Apply</b></a></p>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
	<div style="float: right;" >
    {% if jjob.has_other_pages %}
  <ul class="pagination pagelink text-center">
    {% if jjob.has_previous %}
      <li><a href="?page={{ jjob.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled" ><span>&laquo;</span></li>
    {% endif %}
    {% for i in jjob.paginator.page_range %}
      {% if jjob.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if jjob.has_next %}
      <li><a href="?page={{ jjob.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
<br>

      <footer class="page-footer font-small pt-4 pl-md-5">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-4 text-left" >
          <h5 class="text-uppercase" id="desc">Intense Placement</h5>
          <p id = "desc">Our Comapny provides you hastle free recruiting and save candidates from being cheated .Our main motto is to save each and every candidate from being cheated by fraud consultants or recruiters who asks money before getting the job. </p>
        </div>
        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
        <div class="col-md-4 d-none d-lg-block d-xl-block text-center" >
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'main:homepage' %}">Home</a>
            </li>
            <li>
              <a href="/contact/">Contact us</a>
            </li>
            <li>
              <a href="/about/">About us</a>
            </li>
            <li>
              <a href="/faq/">FAQs</a>
            </li>
            
          </ul>
        </div> 
        <div class="col-3 col-md-4 pl-md-4 d-none d-lg-block d-xl-block text-left">
          <h5 class="text-uppercase">Intense Placement </h5>
         <!--  <p>Subscribe to kormosala Pacific newsletter to get thelatest jobs posted, candidates, and other latestnews stay update.</p>
          <form id = "subs">
            <div class="field">
                <div class="input-group">
                    <input type="email" name="EMAIL" class="form-control" placeholder="Email Address...">
                    <span class="input-group-btn">
                        <button class="btn btn-submit" type= "submit">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </span>
                </div>
            </div>
          </form> -->
          <p id = "desc">Our Comapny is creating Entrepreneurs.Because of our portal we are connecting many of the Genuine Consultants , Recruiters or Freelancers to Big MNC's which previously they don't get empanel with,because of their major compliance issue . </p>
        </div>
      </div>
    </div>
    <div class="container " style="height: 100px;">
        <div class="row">
            <div class="col-md-12 py-3">
            <h5 class= "pb-2 text-center">Follow Us</h5>
            <div class="mb-2 text-center">
              <a href = "https://www.facebook.com/Intense-Placement-Private-Limited-102928834808269/" class="fb-ic" style="color: rgb(255, 255, 255);">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "#" class="tw-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "https://www.linkedin.com/company/intense-placement-private-limited" class="li-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href = "https://www.instagram.com/invites/contact/?i=zmndwoirzzee&utm_content=hftfvyr" class="ins-ic" style="color:  rgb(255, 255, 255);">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-2">
      <h6> <a href="mailto:devvarrior@gmail.com" class="text-white" style="float: left;"><i class="fas fa-code"></i> Website credits : Devvarrior <i class="fas fa-code"></i></a> <p style="float: right;">© 2020 Copyright:Intense Placement</p></h6>
      <br>
    </div>
</footer>
    <script src="{% static  'js/JobsJS.js' %}"></script>

</body>
</html>
