*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body
{
	overflow-x:hidden; 	
}
.menu-bar
{
    background-image: linear-gradient(to right,#6db9ef,#7ce08a);
	
}

.nav-link
{
font-size: 16px;
color: #ffffff !important;
margin:2px;
}

.navbar-nav{
		text-align: right;
}

.menu-bar .navbar-toggler
{
padding-right: 0;
outline: none;
border: none;
}
.navbar-nav a:hover {
  background-color:#6db9ef;

}

.navbar img{
    margin-left: 0.6em;
    height: 3em;
    /* border-radius: 40%; */
}

.banner
{
    height:130vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/img/appl.jpg");
	background-size: cover;
	background-position: center;
	
}

.banner h1
{
padding-top: 40px;
padding-left: 40px;
font-size: 20px;
font-weight: 500;
text-shadow: 0 0 30px rgba(0,0,0,0.5);
color: #ffffff;
}
.banner .appform
{
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    
}
.foot
{
    background-image: linear-gradient(to right,#6db9ef,#7ce08a);
color: #ffffff;
}


footer
{
    background-image: linear-gradient(to right,#6db9ef,#7ce08a);
color: #ffffff;
}
footer ul li a {
	color: rgb(252, 250, 250);
}

footer p 
{
    font-weight: normal;
}

footer img{
    margin-left: 1em;
    height: 8rem;
    width: 8rem;
}

@media all and (max-width: 1200px) {
    
    .banner
    {
        height: auto;
        width: auto;
        font-size: x-small;
		
    }
	#aly{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20%;
        width: 140%;
        font-size: xx-small;
    }
    .hh{
        font-size: x-small;
        padding-left: 10%;
    }
	

}
